{% extends "page/layout.html.twig" %}
{% block head %}
		<link rel="stylesheet" href="{{ asset("carrito.css", "estilos") }}">
	<link rel="stylesheet" href="https://img1.wsimg.com/ux/1.3.9-brand/css/uxcore.min.css">
	<link rel="stylesheet" href="https://img1.wsimg.com/ux/1.3.9-brand/css/uxcore.min.css">
	<script src="https://kit.fontawesome.com/7bd9185960.js" crossorigin="anonymous"></script>

{% endblock %}
{% block contenido %}

<script> 
    window.onload = recalculateCart();
</script>

<section class="container">
	<br>
	<div class="container">
  <div class="row" style="background-color: white;">
  <div class="shopping-cart col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
  
  <div class="column-labels">
	<label class="product-image">Image</label>
	<label class="product-details">Product</label>
	<label class="product-price">Price</label>
	<label class="product-quantity">Quantity</label>
	<label class="product-removal">Remove</label>
	<label class="product-line-price">Total</label>
  </div>
  		{# {% if user %}
		{% set total = 0 %}
		{% set subtotal = 0 %}
		{% if filtroPedido %}
  {% for pedido in filtroPedido %}
		

	   <li><div class="producto"><span class="cd-qty">X{{pedido.getCantidad()}} </span><span class="cd-name">{{pedido.getIdproducto().getNombre()}}<br></span>
	   <span>P.V.P: {{pedido.getIdproducto().getprecio()}} €</span>
	   {% set subtotal = pedido.getCantidad() * pedido.getIdproducto().getprecio() %}
	   <span class="product-price"> Total: {{subtotal}}€</span>
	   	<div class="product-removal-drop">
<button id="button-cart-drop" href="#0" class="cd-item-remove cd-img-replace"></button>
<form method="post" id="myFormdelete" action="{{ path('productoxpedidos_delete', {'id': pedido.getId()}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.getId()) }}">
	 <input type="hidden" name="idprod" value="{{pedido.getIdProducto().getId() }}">

</form>

    </div></div></li>
	 #}
	{# <script>
	let btndelete = document.getElementById("boton-borrar")
			btndelete.addEventListener('click', function(){
				document.getElementById("myFormdelete").submit();
			})

	</script> #}
	{% if user == false %}
	{% set TotalTodo = 0 %}
	{% set shipping = 0 %}
	{% endif %}
{% if user %}
		{% set XV = 0 %}
		{% set total = 0 %}
		{% set subtotal = 0 %}
		{% if filtroPedido %}
		{% set TotalTodo = 0 %}
	{% for pedido in filtroPedido %}

    {% set total = total + subtotal %}
	{% set subtotal = pedido.getCantidad() * pedido.getIdproducto().getprecio() %}
	   <!-- La variable imagen separa los datos que recibe de la base de datos en un array -->
	{% set imagen = pedido.getIdproducto().imagen|split('|') %}
	<!-- For rutaImg saca el primer dato del array que debe ser siempre la ruta de la imagen -->
	{% set ruta = "" %}
	{% for rutaImg in imagen|slice(0, 1) %}
		{% set ruta = rutaImg %}
		{% set TotalTodo =  TotalTodo + subtotal %}
	{% endfor %}

    
  <div class="product">
	<div class="product-image">
	{% for imagen in imagen|slice(1,1) %}
	  <img src="{{ruta}}{{imagen}}">
	{% endfor %}
	</div>
	<div class="product-details">
		 
	  <div class="product-title">{{pedido.getIdproducto().getNombre()}}</div>
	  <p class="product-description">{{pedido.getIdproducto().getDescripcion()}}</p>
	</div>
	<div class="product-price">{{pedido.getIdproducto().getprecio()}}</div>

	<!-- Cambia la cantidad del producto -->
	
	<div id="cambio{{pedido.getId()}}" class="product-quantity">
	
		<form method="post" id="changeCantidad{{pedido.getId()}}" action="{{ path('changeCantidad', {'id': pedido.getId()}) }}">
    		<input type="hidden" name="_method" value="POST">
    		<input type="hidden" name="_token" value="{{ csrf_token('modify' ~ pedido.getId()) }}">
	 		<input type="hidden" name="idprod" value="{{pedido.getIdProducto().getId() }}">
	  		<input type="number" name="subject{{pedido.getId()}}" value="{{pedido.getCantidad()}}" min="1">
	  	</form>
	</div>
	{% set XV = XV + 1 %}
	
	<!--  -->
<div id="test" data-is-test="{{ test|json_encode }}"></div>

	<!-- Elimina el producto -->
	<div class="product-removal">
	<button onclick="enviar_formulario()" id="boton-borrar" class="remove-product" role="button"><i class="fas fa-times"></i></button> 
	<form method="post" id="myFormdelete" action="{{ path('borrarCarrito', {'id': pedido.getId()}) }}">
    	<input type="hidden" name="_method" value="DELETE">
    	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.getId()) }}">
	 	<input type="hidden" name="idprod" value="{{pedido.getIdProducto().getId() }}">
	</form>
	</div>
	<!--  -->

	<div class="product-line-price">{{subtotal}}</div>
  </div>
  <script>
function enviar_formulario(){
document.getElementById("myFormdelete").submit();
}
</script> 
{% endfor %}
			{% endif %}
			{% endif %}	

  
  </div>
  
  <div class="summary col-12 col-sm-12col-md-12 col-lg-5 col-xl-5" style="margin-top: 10px; margin-bottom: 10px;">
	<div class="cd-cart-total">
		<dl class="subtotal">
			  <dt>Subtotal</dt>
			  {% set iva = TotalTodo * 0.21 %}
			  {% set TsinIva = TotalTodo - iva %}
			  <dd class="totals-value" id="cart-subtotal">{{TsinIva}}</dd>
			  <dt><a href="/taxes">Estimated Taxes & Fees</a></dt>
			  
			  <dd class="totals-value" id="cart-tax">{{iva}}</dd>
			</dl>
				</div> <!-- cd-cart-total -->
	<dl class="total">
	  <dt>Total</dt>
	  	{% if user == false %}
		{% set shipping = 0 %}
	{% endif %}
		
	  {% if user %}
	  	{% if TotalTodo >= 30 %}
	  		{% set shipping = 0 %}
	  	{% endif %}
	  	{% if TotalTodo < 30 %}
	  		{% set shipping = 7 %}
			{% set TotalTodo = TotalTodo + 7 %}
	  	{% endif %}
	  {% endif %}
	  
	  <dd class="totals-value" id="cart-total">{{TotalTodo}}</dd>
	</dl>
	<dl class="support">
	  <dt><a href="/savings/">Shipping</a></dt>


	  <dd class="totals-value" id="cart-shipping">{{shipping}}</dd>
	  <dt><a href="/promocode/add">Have a promocode?</a></dt>
	</dl>
	<div class="payment">
	  <a href="payment/add">Add</a>
	  <h4 class="headline-primary">Payment</h3>
	  <div class="ux-card">
		<a href="/payment/{id}"><img src="https://img1.wsimg.com/fos/react/sprite.svg#visa" height="32" width="50" /> John Doe</a>
	  </div>
	</div>
	<div class="terms">
	  <h4 class="headline-primary">Terms & Conditions</h3>
	  <p class="review">Clicking on "I Agree" means you agree to GoDaddy's <a href="terms/show">Terms & Conditions</a>.</p>
	  <p class="review"><strong>Products automatically</strong> renew until cancelled, and are billed to your payment method on file. Turn off auto-renew in your GoDaddy account.</p>
	  <p class="agreed">I've read and agreed to the <a href="terms/show">Term & Conditions</a>.</p>
	  <button type="button" class="btn btn-purchase review">I Agree</button>
	</div>
	<div class="complete">
	  <button type="button" disabled="disabled" class="btn btn-purchase">Complete Purchase</button>
	</div>
  </div>
  </div>
  </div>
</section>
		<p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
	</div> 

	    <script src="js/pagCarritoCalc.js"></script>
{% endblock %}
