{% extends "page/layout.html.twig" %}
{% block head %}
		<link rel="stylesheet" href="{{ asset("carrito.css", "estilos") }}">
	<link rel="stylesheet" href="https://img1.wsimg.com/ux/1.3.9-brand/css/uxcore.min.css">
	<link rel="stylesheet" href="https://img1.wsimg.com/ux/1.3.9-brand/css/uxcore.min.css">

	<script src="https://kit.fontawesome.com/7bd9185960.js" crossorigin="anonymous"></script>

<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

        <link rel="stylesheet" href="plugins/jquery-toast-plugin/dist/jquery.toast.min.css">

{% endblock %}
{% block contenido %}

<script> 
    window.onload = recalculateCart();
</script>

<section class="container" style="height:100%;">
	<br>
	<div class="container" style="height:100%;">
  <div class="row" style="background-color: white;height:100%;" >
  <div class="shopping-cart col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
  
  <div class="column-labels">
	<label class="product-image">Image</label>
	<label class="product-details">Product</label>
	<label class="product-price">Price</label>
	<label class="product-quantity">Quantity</label>
	<label class="product-removal">Remove</label>
	<label class="product-line-price">Total</label>
  </div>
  		{# {% if user %}
		{% set total = 0 %}
		{% set subtotal = 0 %}
		{% if filtroPedido %}
  {% for pedido in filtroPedido %}
		

	   <li><div class="producto"><span class="cd-qty">X{{pedido.getCantidad()}} </span><span class="cd-name">{{pedido.getIdproducto().getNombre()}}<br></span>
	   <span>P.V.P: {{pedido.getIdproducto().getprecio()}} €</span>
	   {% set subtotal = pedido.getCantidad() * pedido.getIdproducto().getprecio() %}
	   <span class="product-price"> Total: {{subtotal}}€</span>
	   	<div class="product-removal-drop">
<button id="button-cart-drop" href="#0" class="cd-item-remove cd-img-replace"></button>
<form method="post" id="myFormdelete" action="{{ path('productoxpedidos_delete', {'id': pedido.getId()}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.getId()) }}">
	 <input type="hidden" name="idprod" value="{{pedido.getIdProducto().getId() }}">

</form>

    </div></div></li>
	 #}
	{# <script>
	let btndelete = document.getElementById("boton-borrar")
			btndelete.addEventListener('click', function(){
				document.getElementById("myFormdelete").submit();
			})

	</script> #}
	{% if user == false %}
	{% set TotalTodo = 0 %}
	{% set shipping = 0 %}
	{% endif %}
{% if user %}
		{% set XV = 0 %}
		{% set total = 0 %}
		{% set subtotal = 0 %}
		{% if filtroPedido %}
		{% set TotalTodo = 0 %}
	{% for pedido in filtroPedido %}

    {% set total = total + subtotal %}
	{% set subtotal = pedido.getCantidad() * pedido.getIdproducto().getprecio() %}
	   <!-- La variable imagen separa los datos que recibe de la base de datos en un array -->
	{% set imagen = pedido.getIdproducto().imagen|split('|') %}
	<!-- For rutaImg saca el primer dato del array que debe ser siempre la ruta de la imagen -->
	{% set ruta = "" %}
	{% for rutaImg in imagen|slice(0, 1) %}
		{% set ruta = rutaImg %}
		{% set TotalTodo =  TotalTodo + subtotal %}
	{% endfor %}

    
  <div class="product">
	<div class="product-image">
	{% for imagen in imagen|slice(1,1) %}
	  <img src="{{ruta}}{{imagen}}">
	{% endfor %}
	</div>
	<div class="product-details">
		 
	  <div class="product-title">{{pedido.getIdproducto().getNombre()}}</div>
	  <p class="product-description">{{pedido.getIdproducto().getDescripcion()}}</p>
	  <p id="caca{{pedido.getId()}}">Stock: {{pedido.getIdproducto().getUnidadesStock()}}{% if pedido.getIdproducto().getUnidadesStock() > 1 %} Uds.{% else %}Uds.{% endif %}</p>
	</div>
	
	<div class="product-price">{{pedido.getIdproducto().getprecio()}}</div>

	<!-- Cambia la cantidad del producto -->
	
	<div id="cambio{{pedido.getId()}}" class="product-quantity">
	
		<form method="post" id="changeCantidad{{pedido.getId()}}" action="{{ path('changeCantidad', {'id': pedido.getId()}) }}">
    		<input type="hidden" name="_method" value="POST">
    		<input type="hidden" name="_token" value="{{ csrf_token('modify' ~ pedido.getId()) }}">
	 		<input type="hidden" name="idprod" value="{{pedido.getIdProducto().getId() }}">
	  		<input type="number" name="subject{{pedido.getId()}}" onkeydown="return false" value="{{pedido.getCantidad()}}" min="1" max="{{pedido.getIdproducto().getUnidadesStock()}}">	  
	  	</form>

	</div>

	<script>
	$('#cambio{{pedido.getId()}}').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
	</script>
	
	{% set XV = XV + 1 %}
	
	<!--  -->
<div id="test" data-is-test="{{ test|json_encode }}"></div>

	<!-- Elimina el producto -->
	<div class="product-removal">
	<button onclick="enviar_formulario()" id="boton-borrar" class="remove-product" role="button"><i class="fas fa-times"></i></button> 
	<form method="post" id="myFormdelete" action="{{ path('borrarCarrito', {'id': pedido.getId()}) }}">
    	<input type="hidden" name="_method" value="DELETE">
    	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.getId()) }}">
	 	<input type="hidden" name="idprod" value="{{pedido.getIdProducto().getId() }}">
	</form>
	</div>
	<!--  -->

	<div class="product-line-price">{{subtotal}}</div>
  </div>
  <script>
function enviar_formulario(){
document.getElementById("myFormdelete").submit();
}
</script> 

{% endfor %}
			{% else %}
			<p style="text-align:center"> No hay ningún producto añadido</p>
			{% endif %}

			{% endif %}	

  
  </div>
  
  <div class="summary col-12 col-sm-12col-md-12 col-lg-5 col-xl-5" style="margin-top: 10px; margin-bottom: 10px;">
	<div class="cd-cart-total">
		<dl class="subtotal">
			  <dt>Subtotal</dt>
		
			  {% set iva = TotalTodo * 0.21 %}
			  {% set TsinIva = TotalTodo - iva %}
			  <dd class="totals-value" id="cart-subtotal">{{TsinIva}}</dd>
			  <dt><a href="/taxes">Estimated Taxes & Fees</a></dt>
			  
			  <dd class="totals-value" id="cart-tax">{{iva}}</dd>
			</dl>
				</div> <!-- cd-cart-total -->
	<dl class="total">
	  <dt>Total</dt>
	  	{% if user == false %}
		{% set shipping = 0 %}
	{% endif %}
		
	  {% if user %}
	  	{% if TotalTodo >= 30 or TotalTodo == 0 %}
	  		{% set shipping = 0 %}
	  	{% endif %}
	  	{% if TotalTodo < 30 and  TotalTodo > 0 %}
	  		{% set shipping = 7 %}
			{% set TotalTodo = TotalTodo + 7 %}
	  	{% endif %}
	  {% endif %}
	  
	  <dd class="totals-value" id="cart-total">{{TotalTodo}}</dd>
	</dl>
	<dl class="support">
	  <dt><a href="/savings/">Shipping</a></dt>


	  <dd class="totals-value" id="cart-shipping">{{shipping}}</dd>
	  <dt><a href="/promocode/add">Have a promocode?</a></dt>
	</dl>

	{# Desplegable mostrar Tarjeta #}
	{% if user %}
	<div id="accordion1" class="accordion">
	<div class="payment link1">Mis Tarjetas<i class="fa fa-chevron-down"></i></div>
	<div class="container2">
	<table id="simpletable" class="table table-striped table-bordered nowrap">
     <thead>
    	<tr>

		<script>
			if("{{tarjetaRepe}}"){
window.onload = function(){showDangerToast()}
				}
		</script>
        	<th>Titular</th>
            <th>Ultimos Nº Tarjeta</th>
            <th>Fecha Caducidad</th>
        </tr>
    </thead>       
	<tbody>
	
	{% for tarjetas in filtroTarjetas %}
	<tr  id="nombre{{tarjetas.getId()}}">
    	<td class="nombre{{tarjetas.getId()}}" id="{{tarjetas.getId()}}">{{tarjetas.getTitular()}}</td>
    	<td class="nombre{{tarjetas.getId()}}" id="{{tarjetas.getId()}}">{{tarjetas.getUltimosDigitos()}}</td>
    	<td class="nombre{{tarjetas.getId()}}" id="{{tarjetas.getId()}}">{{tarjetas.getFechaCaducidad()}}</td>
  	</tr>
	  <script>

document.getElementById("nombre{{tarjetas.getId()}}").onclick = function(){
	let digitosUlt = {{tarjetas.getUltimosDigitos()}}
	let nombreTarjeta =document.getElementsByClassName(event.target.className)[0].textContent
	document.getElementById("tarjeta").textContent=nombreTarjeta.split(" ")[0] +" - "+ digitosUlt.toString()
	document.getElementById("tarjeta").style.fontSize="16px"
	document.getElementById("tarjeta").style.fontWeight="bold"
	document.getElementById("tarjeta").style.color="green"
	var img = document.createElement("IMG");
	img.src="https://i.ya-webdesign.com/images/payment-logos-png-7.png"
	img.height="32"
	img.width="50"
	document.getElementById("tarjeta").appendChild(img)

	console.log()
	}
</script>
	{% endfor %}
	</tbody>
  </table>
	</div>

</div>


{# Fin desplegable mostrar Tarjeta #}

{# Desplegable añadir Tarjeta #}
{% if mensajeLimite %}
		<p style="font-size:16px;color:red">No puedes agregar otra tarjeta</p>
{% else %}
<div id="accordion" class="accordion">
	<div class="payment link">Add<i class="fa fa-chevron-down"></i></div>

	{{form_start(formTarjeta, {'attr':{'class':"form1 form-horizontal", 'action':'', 'autocomplete':'off', 'style':'display:none', "id":"subirForm",'onsubmit':"myFunction()"}})}}
	<div class="container1">
<div id="dela" class="form__card1  card1 front">
    <span id="name" class="card__name1"  data-default="Full Name">Full Name</span>
    <span id="number" class="card__number1" data-default="1234 5678 9012 3456">1234 5678 9012 3456</span>
  </div>
  
  <div id="atr" class="form__card1  card1 back">
	<span id="cvvLine" class="card__cvvNumber1" >xxx</span>
    <span id="cvv" class="card__cvv1" >CVV</span>
  </div>
  </div>
	  {# <form class="submenu" action="/action_page.php"> #}
  <label for="inputName" class="form__label1">Titular:</label><br>
  {{form_widget(formTarjeta.titular, {'attr':{ 'id':'inputName', 'class':"form__input1", 'onkeyup':"inputValue(this, '#name')","name":"titular", "type":"text", }})}}<br>
  <label for="inputNumber"  class="form__label1">Numero Tarjeta:</label><br>
  <input id="inputNumber" class="form__input1" onkeyup ="inputValue(this, '#number')" maxlength="16" placeholder = "XXXX  XXXX  XXXX  XXXX" name="inputNumber1" type="text"/><br>
  <label for="inputData" class="form__label1 ">Fecha Caducidad:</label><br>
 {{form_widget(formTarjeta.fecha_caducidad, {'attr':{ 'id':'inputData','class':"form__input1 fecha", 'maxlength':'5', "name":"fecha_caducidad", "type":"text", 'onkeyup':"fechas()"}})}}<br>
  <label for="inputCvv" class="form__label1">CVV:</label><br>
  <input id="inputCvv" class="form__input1" onkeyup ="inputValue(this, '#cvvLine')" maxlength="4" name="inputCvv" type="text"/><br>
   {{form_widget(formTarjeta.send, {'label': 'Crear', 'attr':{'class':'btn bot', 'type':'submit'}})}}
   <input id="UltDigits" type="hidden" name="UltDigits" value=""/>
	{{form_end(formTarjeta)}}

</div>
{% endif %}
	
{% endif %}
{# Fin desplegable añadir Tarjeta #}


<script>

function fechas(){
var fecha = document.getElementsByClassName("fecha")[0];
console.log(fecha.value)
if(fecha.value.length == 2){

fecha.value += "/";
}
}
var cv = document.getElementById('atr');
var cv2 = document.getElementById('dela');
var bod = document.getElementsByTagName("BODY")[0];
var UltDigits = "";

function myFunction(){

	let texto = document.getElementById("number").textContent
	UltDigits = texto.match(/.{1,4}/g);
	document.getElementById("UltDigits").value = parseInt(UltDigits[3])

}
$('#cuentas_bank_cvv').click(function() {
	cv.classList.add("back2");
	cv2.classList.add("front2");
	//alert(event.target.nodeName);
});


bod.onclick = function(){
	if(event.target.id != "cuentas_bank_cvv"){
   cv.classList.remove("back2");
	cv2.classList.remove("front2");
	}
}

{# function normalImg(x) {
cv.classList.remove("back2");
	cv2.classList.remove("front2");
} #}

$(function () {
  var Accordion = function (el, multiple) {
    this.el = el || {};
    this.multiple = multiple || false;

    // Variables privadas
    var links = this.el.find(".link");
    // Evento
    links.on("click", { el: this.el, multiple: this.multiple }, this.dropdown);
  };

  Accordion.prototype.dropdown = function (e) {
    var $el = e.data.el;
    ($this = $(this)), ($next = $this.next());

    $next.slideToggle();
    $this.parent().toggleClass("open");

    if (!e.data.multiple) {
      $el.find(".submenu").not($next).slideUp().parent().removeClass("open");
    }
  };

  var accordion = new Accordion($("#accordion"), false);
});

$(function () {
  var Accordion2 = function (el, multiple) {
    this.el = el || {};
    this.multiple = multiple || false;

    // Variables privadas
    var links2 = this.el.find(".link1");
    // Evento
    links2.on("click", { el: this.el, multiple: this.multiple }, this.dropdown);
  };

  Accordion2.prototype.dropdown = function (e) {
    var $el = e.data.el;
    ($this = $(this)), ($next = $this.next());

    $next.slideToggle();
    $this.parent().toggleClass("open");

    if (!e.data.multiple) {
      $el.find(".submenu").not($next).slideUp().parent().removeClass("open");
    }
  };

  var accordion2 = new Accordion2($("#accordion1"), false);
});
 // mirar esto //
$(document).ready(function () {
    $("#inputName").keyup(function () {
                    if ($(this).val().length == 4) {
                        $(this).val($(this).val() + "-");
                    }
                    else if ($(this).val().length == 9) {
                        $(this).val($(this).val() + "-");
                    }
                    else if ($(this).val().length == 14) {
                        $(this).val($(this).val() + "-");
                    }
                });
});

function inputValue(from, to) {
  if(from.value != '')

    document.querySelector(to).innerHTML = from.value;

  else 
    document.querySelector(to).innerHTML = document.querySelector(to).dataset.default;
}
</script>
{% if filtroPedido %}
	  <h4 class="headline-primary">Payment</h3>
	  <div class="ux-card" id="tarjeta">
				<span style="font-size:16px;">Seleccione una tarjeta</span>
	  </div>
	<div class="terms">
	  <h4 class="headline-primary">Terms & Conditions</h3>
	  <p class="review">Clicking on "I Agree" means you agree to GoDaddy's <a href="terms/show">Terms & Conditions</a>.</p>
	  <p class="review"><strong>Products automatically</strong> renew until cancelled, and are billed to your payment method on file. Turn off auto-renew in your GoDaddy account.</p>
	  <p class="agreed">I've read and agreed to the <a href="terms/show">Term & Conditions</a>.</p>
	  <button type="button" class="btn btn-purchase review">I Agree</button>
	</div>
	<div class="complete">
	  <button type="button" disabled="disabled" class="btn btn-purchase">Complete Purchase</button>
	</div>
  </div>
  </div>
  </div>
  </div>
{% endif %}
</section>
	</div> 
	        <script src="plugins/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
	    <script src="js/pagCarritoCalc.js"></script>
				    <script src="{{ asset("js-admin/alerts.js", "script") }}"></script>
{% endblock %}
