{% extends "page/layout.html.twig" %}
{% block head %} 

        <link rel="stylesheet" href="plugins/owl.carousel/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="plugins/owl.carousel/dist/assets/owl.theme.default.min.css">
        <script src="/plugins/owl.carousel/dist/owl.carousel.min.js"></script>
        <script src="/js/js-admin/carousel.js"></script>
{% endblock %}
{% block contenido %}
<section>
<div class="container" style="margin-top: 100px;">
		<h1>Categorías</h1>
  

                        <div class="row">
                            <div class="col-md-12">
                            <br>
                                <div class="row">
                                    <div class="col-md-12 mb-4 pl-0 pr-0">
                                        <div class="owl-container">
                                            <div class="owl-carousel basic">
                                        {% for categoria in categorias %}
                                                <div class="card flex-row">

                                                    <div class="w-50" style="display:contents;">
                                                        <div class="card-body">
                                                            <h6 class="mb-4" style="text-align:center; margin-top:20px;"><a href={{ path('producto', {'id': categoria.getId()}) }}>{{categoria.getCategoria()}}</a></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                        {% endfor %} 
                            
                                            </div>
                                            <div class="slider-nav text-center">
                                                <a href="#" class="left-arrow owl-prev">
                                                    <i class="ik ik-chevron-left"></i>
                                                </a>
                                                <div class="slider-dot-container"></div>
                                                <a href="#" class="right-arrow owl-next">
                                                    <i class="ik ik-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
	</section>

<hr style="margin-top: 100px;">
<div class="clearboth"></div>
<section class="container">
	<h1 style="text-align: center; margin-bottom:56px;">Lo más vendido</h1>
	<div class="row">

        {% for producto in productos|reverse|slice(0, 8)  %}
            {% set imagen = producto.getImagen()|split('|') %}
	        {% set ruta = "" %}
	            {% for rutaImg in imagen|slice(0, 1) %}
		    {% set ruta = rutaImg %}
	            {% endfor %}
			<div class="col-6 col-lg-3" > 
            {% for imagen in imagen|slice(1,1) %}
                <img src="{{ruta}}{{imagen}}" alt="Preview image" style="height: 257px !important; width:257px !important;">
			{% endfor %}
                <div id="products"><p style="display: inline-block;margin-top: 10px;" title={{producto.getNombre()}}><a href={{ path('detalleprod', {'id': producto.getId()}) }} >{% if producto.getNombre()|length > 38 %} {{producto.getNombre()|slice(0,37)}}...  {% else %}{{producto.getNombre()}}{% endif %}</a></p>
					<br><p>Precio: {{producto.getPrecio()}}€</p></div></div>
        {% endfor %} 

	</div>
                  
	

</section>
	<div id="imgindex1"></div>		
<section class="container">
	<h1 style="text-align: center; margin-bottom:56px;">Últimas unidades</h1>
			<div class="row">
            {% for stocks in stock|reverse|slice(0, 8) %}
{% set imagen = stocks.getImagen()|split('|') %}
	{# <!-- For rutaImg saca el primer dato del array que debe ser siempre la ruta de la imagen --> #}
	{% set ruta = "" %}
	{% for rutaImg in imagen|slice(0, 1) %}
		{% set ruta = rutaImg %}
	{% endfor %}
    {% if stocks.getUnidadesStock < 50 %}
	<div class="col-6 col-sm-5 col-md-4 col-lg-3" >
		    {% for imagen in imagen|slice(1,1) %}
				 <img src="{{ruta}}{{imagen}}" alt="Preview image" style="height: 257px !important; width:257px !important;">
                 
                    <div id="products"><p>{{stocks.getNombre()}}</p>
					<p>Precio: {{stocks.getPrecio()}}€</p></div></div>
    					{% endfor %}

                            {% else %}
                {% endif %}{% endfor %} 
                   
					</div>
                  
				

</section>
                        <div class="row">
                        
	<div id="imgindex2" class="col-md-6"></div>
    <div id="cajatexto" class="col-md-6" style="background-color:white;">
		<h1 style="
    font-size: 3em;">Sobre Nosotros</h1>
			<p id="texto">Yomo es la cadena líder de tiendas de animales en España.

En Yomo somos especialistas en todo tipo de animales y tenemos un equipo de más de 1.000 personas dedicadas a ayudar a mejorar la vida de todas las mascotas, pues un amante de los animales no es sólo un cliente, es un amigo.

Para ayudarte a cuidar y disfrutar de tu mejor amigo contamos con las mejores ofertas del sector y con el personal más especializado.</p>
<br>
<h5>¿POR QUÉ SOMOS DIFERENTES?</h5>
<p id="texto">En Yomo hacemos de la innovación una de nuestras banderas. Nuestras tiendas están pensadas para que sean un espacio de recreo para niños y mayores y sobre todo, sean grandes o pequeñas, nuestras tiendas están diseñadas para cubrir todas las necesidades de tu animal. Hasta las tiendas Yomo más pequeñas tienen más de cinco mil artículos que cubren las necesidades de las seis familias principales de animales: perros, gatos, aves, roedores, reptiles y peces. Además, puedes contar con más 50.000 productos por encargo.
<br><br>
Yomo no es una cadena de tiendas más, trabajamos con seres vivos y por eso nuestro equipo está formado por amantes de los animales. En Yomo nos tomamos tu bienestar muy en serio e intentamos cumplir en todo momento con la declaración Yomo..
<br><br>
Además Yomo es un mundo, un mundo animal, donde ellos (los animales) son los protagonistas. A diferencia de otras tiendas, en Yomo nos encanta que entres sólo a mirar, porque en nuestras instalaciones queremos transmitir, sobre todo a los más pequeños, el amor y respeto por los animales. 
<br><br>
Por todo ello, te invitamos a venir a una tienda Yomo cuanto antes
<br><br>
Para los que hacemos Yomo esto es más que un trabajo. Al igual que tú, somos amantes de los animales y queremos ayudarte a que los cuides para que tengan una vida feliz.</p>
    </div>

</div>
{% endblock %}
