{% extends "adminPage/layout.html.twig" %}
{% block head %}
        
        {# <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script> #}
        <link rel="stylesheet" href="/plugins/chartist/dist/chartist.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/plugins/flot-charts/jquery.flot.js"></script>
        <script src="/plugins/flot-charts/curvedLines.js"></script>
        <script src="/plugins/chartist/dist/chartist.min.js"></script>
        <script src="/plugins/amcharts/amcharts.js"></script>
        <script src="/plugins/amcharts/gauge.js"></script>
        <script src="/plugins/amcharts/serial.js"></script>
        <script src="/plugins/amcharts/themes/light.js"></script>
        <script src="/plugins/amcharts/animate.min.js"></script>
        <script src="/plugins/amcharts/pie.js"></script>
        <script src="/plugins/ammap3/ammap/ammap.js"></script>
        <script src="/plugins/ammap3/ammap/maps/js/usaLow.js"></script>
        <script src="/js/js-admin/chart-amcharts.js"></script>
        <script src="/js/js-admin/widget-data.js"></script>
        <script src="/js/js-admin/widget-statistic.js"></script>
{% endblock %}
{% block contenido %}
                        <div class="row">
                            <!-- page statustic chart start -->
                            <div class="col-xl-3 col-md-6">
                                <div class="card prod-p-card card-blue">
                                    <div class="card-body" style="height: 165px;">
                                        <div class="row align-items-center mb-30">
                                            <div class="col">
                                                <h6 class="mb-5 text-white">Usuarios</h6>
                                                <h3 class="mb-0 fw-700 text-white">{{numUsuarios}}</h3>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa fa-users text-blue f-18"></i>
                                            </div>
                                        </div>
                                        {# <p class="mb-0 text-white"><span class="label label-danger mr-10">+11%</span>From Previous Month</p> #}
                                    </div>
                                </div>
                            </div>
  {# ---------------------------------------------------------------------------------------------------------- #}
                            <div class="col-xl-3 col-md-6">
                                <div class="card prod-p-card card-green">
                                    <div class="card-body" style="height: 165px;">
                                        <div class="row align-items-center mb-30">
                                            <div class="col">
                                                <h6 class="mb-5 text-white">Pedidos</h6>
                                                <h3 class="mb-0 fw-700 text-white">{{numPedidos}}</h3>
                                            </div>
                                            <div class="col-auto">
                                              <i class="fa fa-shopping-cart text-green f-18"></i>
                                            </div>
                                        </div>
                                        {# <p class="mb-0 text-white"><span class="label label-danger mr-10">+11%</span>From Previous Month</p> #}
                                    </div>
                                </div>
                            </div>
  {# ---------------------------------------------------------------------------------------------------------- #}                        

                            <!-- page statustic chart start -->
                            <div class="col-xl-3 col-md-6">
                                <div class="card prod-p-card card-yellow">
                                    <div class="card-body" style="height: 165px;">
                                        <div class="row align-items-center mb-30">
                                            <div class="col">
                                                <h6 class="mb-5 text-white">Comentarios</h6>
                                                <h3 class="mb-0 fw-700 text-white">{{numComentarios}}</h3>
                                            </div>
                                            <div class="col-auto">
                                              <i class="fa fa-comments text-orange f-18"></i>
                                            </div>
                                        </div>
                                        {# <p class="mb-0 text-white"><span class="label label-danger mr-10">+11%</span>From Previous Month</p> #}
                                    </div>
                                </div>
                            </div>
                            <!-- page statustic chart end -->
 {# ---------------------------------------------------------------------------------------------------------- #}       
                            <!-- Project statustic start -->
                             <div class="col-xl-3 col-md-6">
                                <div class="card prod-p-card card-red">
                                    <div class="card-body" style="height: 165px;">
                                        <div class="row align-items-center mb-30">
                                            <div class="col">
                                                <h6 class="mb-5 text-white">Beneficio total</h6>
                                                <h3 class="mb-0 fw-700 text-white">$1,783</h3>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa fa-money-bill-alt text-red f-18"></i>
                                            </div>
                                        </div>
                                        {# <p class="mb-0 text-white"><span class="label label-danger mr-10">+11%</span>From Previous Month</p> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="row">
                            <!-- Application Sales start -->
                            <div class="col-md-12 col-xl-12">
                                <div class="card table-card">
                                    <div class="card-header">
                                        <h3>Productos más vendidos</h3>
                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                                                <li><i class="ik ik-minus minimize-card"></i></li>
                                                <li><i class="ik ik-x close-card"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-block p-b-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Productos</th>
                                                        <th>Ventas</th>
                                                        <th>Stock</th>
                                                        <th>Precio</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                        {% for producto in productofiltro %}
                                                            <div class="d-inline-block align-middle">
                                                                <h6>{{producto.getNombre()}}</h6>
                                                                <p class="text-muted mb-0">{{producto.getCategoriaId().getCategoria()}}</p>
                                                            </div>
                                                        </td>
                                                        <td>{{producto.getUnidadesVendidas()}}</td>
                                                        <td>
                                                        {% if producto.getUnidadesStock() == 0 %}
                                                            <div ><label class="badge badge-danger">out Stock</label></div>
                                                            {% else %}
                                                            <div ><label class="badge badge-success">In Stock</label></div>
                                                        {% endif %}
                                                        </td>
                                                        <td>{{producto.getPrecio()}}€</td>
                                                        {% set total = 0 %}
                                                        {% set total = producto.getUnidadesVendidas() * producto.getPrecio() %}
                                                        <td class="text-blue">{{total}}€</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a href="#!" class=" b-b-primary text-primary">View all Projects</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Application Sales end -->
                    </div>
{% block script %}{% endblock %}
{% endblock %}